.App {
  text-align: center;
}

.Center {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-spacing: 10px;
}

.App-table {
	margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}